

<div class="content">
    <p><%=@transaction.category%></p>
    <p><%=@transaction.operation_type%></p>
    <p><%=@transaction.amount%></p>
    <p><%=@transaction.description%></p>
    <p><%=@transaction.updated_at%></p>
</div>







